<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Per servidor posar  --><add key="BaseUri" value="http://campalans-iprats.somee.com/todolist/api/"/>
    <!-- Per local posar <add key="BaseUri" value="https://localhost:44332/api/"/> -->
    <!-- Per azure posar https://api-campalans.azurewebsites.net/ -->
    <!-- http://campalans.somee.com/campalans/api/ -->
  </appSettings>
</configuration>